# Compiler files
cache/
out/
node_modules/

# Ignores development broadcast logs
/broadcast

# Dotenv file
.env
.envrc

# Dotenvrc file
.envrc*
!.envrc.sample
!.envrc.mainnet.sample
!.envrc.testnet.sample

# Fireblocks secret key files
fireblocks_secret.key
fireblocks_secret_*.key

# NPM Packages
*.tgz

# Mac OS
.DS_Store

# Local files
.local/

# Claude settings
.claude/